{% extends 'game_base.html' %}
{% block head %}

{% endblock %}

{% block gamemap %}
    <div class="container map_image_parent">
        <img class="map_image" src="/static/img/area12.jpg" alt="Area 12" />
        <a
            class="img-responsive itemhover"
            id="up_arrow_8"
            href="{{ url_for('page_11') }}">
            <img src="/static/img/uparrow.png" alt="Up Arrow">
        </a>
    </div>
{% endblock %}

{% block body2 %}
<script>
    create_inventory();
</script>
{% endblock %}