{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block gamemap %}
    <img src="/static/img/area14.jpg" alt="Area 14" />
{% endblock %}
{% block moves %}

<div class="container-fluid">
    {% if not session['red_key'] %}
        {% if prevpage == '13' %}
            <a
            class="btn btn-lg"
            id="page13"
            href="{{ url_for('page_13', feedback='None', prevpage='14') }}"
            role="button">Left</a>
        {% endif %}
        {% if prevpage == '16' %}
            <a
            class="btn btn-lg"
            id="page16"
            href="{{ url_for('page_16') }}"
            role="button">Right</a>
        {% endif %}
    {% else %}
        <a
        class="btn btn-lg"
        id="page13"
        href="{{ url_for('page_13', feedback='None', prevpage='14') }}"
        role="button">Left</a>
        <a
        class="btn btn-lg"
        id="page16"
        href="{{ url_for('page_16') }}"
        role="button">Right</a>
        <a
        class="btn btn-lg"
        id="page15"
        href="{{ url_for('page_15', feedback='None') }}"
        role="button">Down</a>
    {% endif %}

</div>


{% endblock %}

{% block body2 %}
<script>
    create_inventory();
</script>
{% endblock %}