{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block gamemap %}
    <img src="/static/img/area16.jpg" alt="Area 16" />
{% endblock %}
{% block moves %}

<div class="container-fluid">
    <a
    class="btn btn-lg"
    id="page9"
    href="{{ url_for('page_9', prevpage='16') }}"
    role="button">Top</a>
    <a
    class="btn btn-lg"
    id="page14"
    href="{{ url_for('page_14', prevpage='16') }}"
    role="button">Left</a>
    <a
    class="btn btn-lg"
    id="page17"
    href="{{ url_for('page_17', feedback='None') }}"
    role="button">Right</a>
    <a
    class="btn btn-lg"
    id="page18"
    href="{{ url_for('page_18', feedback='None') }}"
    role="button">Down</a>
</div>


{% endblock %}

{% block body2 %}
<script>
    create_inventory();
</script>
{% endblock %}