{% extends 'base.html' %}
{% block head %}

{% endblock %}


{% block gamemap %}
    <img src="/static/img/area6.jpg" alt="Area 6" />
{% endblock %}
{% block moves %}

<div class="container-fluid">
    {% if session['page6_easy'] %}
        <a
        class="btn btn-lg"
        id="page1"
        href="{{ url_for('page_1') }}"
        role="button">Left</a>
        <a
        class="btn btn-lg"
        id="page7"
        href="{{ url_for('page_7') }}"
        role="button">Right</a>

    {% else %}
        {% if prevpage == '1' %}
            <a
            class="btn btn-lg"
            id="page1"
            href="{{ url_for('page_1') }}"
            role="button">Left</a>
        {% elif prevpage == '7' %}
            <a
            class="btn btn-lg"
            id="page7"
            href="{{ url_for('page_7') }}"
            role="button">Right</a>
        {% endif %}
    
    {% endif %}
</div>

{% endblock %}

{% block codingchallenge %}

    {% if not session['page6_easy'] %}
        <h1>Answer question</h1>
        <button class="btn" type="button" onclick="wrong_answer()">Answer 1</button>
        <button class="btn" type="button" onclick="wrong_answer()">Answer 2</button>

        <a
            class="btn btn-lg"
            
            href="{{ url_for('update', item='page6_easy') }}"
            role="button">Answer 3</a>

        <p id="comment"></p>
    {% else %}
            <p id="comment">challenge passed</p>
    {% endif %}

{% endblock %}


{% block body2 %}
<script>
    create_inventory();
</script>
{% endblock %}