{% extends 'game_base.html' %}
{% block head %}

{% endblock %}

{% block gamemap %}
    <div class="container map_image_parent">
        <img class="map_image" src="/static/img/area7.jpg" alt="Area 7" />
        <a
            class="img-responsive itemhover"
            id="left_arrow"
            href="{{ url_for('page_6', feedback='None', prevpage='7') }}">
            <img src="/static/img/leftarrow.png" alt="Left Arrow">
        </a>
        <a
            class="img-responsive itemhover"
            id="downright_arrow"
            href="{{ url_for('page_9', prevpage='7') }}">
            <img src="/static/img/bottomrightarrow.png" alt="Down Right Arrow">
        </a>
        <a
            class="img-responsive itemhover"
            id="down_arrow_3"
            href="{{ url_for('page_8', feedback='None') }}">
            <img src="/static/img/downarrow.png" alt="Down Arrow">
        </a>
    </div>
{% endblock %}

{% block body2 %}
<script>
    create_inventory();
</script>
{% endblock %}