{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}

<div id="about" class="container">
    <h4>Learn to code through playing a strategic, dungeon-themed adventure game created to challenge your knowledge of computer science</h4>
    <hr>
    <h1>About the Game</h1>
    <h7>
        CodeVenture: Dungeon Edition is a wizard-themed adventure game that allows the player to explore different paths, collect items, and defeat creatures in order to save a young wizard’s family while completing coding challenges all at the same time. It contains varying levels of difficulty to test the player’s CS skills as they move through the puzzle. The questions range from basic syntax of programming languages to algorithms.
    </h7>
    <hr>
    <h1>Inspiration</h1>
    <h7>
        At most high schools, students are required to show proficiency in certain subjects to graduate. Now there’s a push to include computer science as one of those subjects. Millions of students are learning computer science and how to code, yet not all students have equal access to learning opportunities. According to Code.org’s in depth research, schools reaching the most diverse student groups are far less likely to offer computer science. Additionally, according to Google and Gallup’s report on Diversity Gaps in Computer Science, a lack of exposure is a major reason why women and racial and ethnic minorities as well as LGBTQ+ are underrepresented in CS fields. We are on a mission to address the issue by giving every student the opportunity to learn computer science. Although our target audience is high school students, we hope that our web app is helpful to anyone who is looking for an engaging, friendly, and approachable way to learn code.
    </h7>
    <br>
    <hr>
    <h7>
        Imagine the limitless possibility of being able to efficiently learn code while playing a strategic adventure game where you can select a unique character, strategically choose your path, collect precious items (i.e infinity stones), and slay various dragons. Currently, there are websites such as hackerrank and edabit that allow individuals to learn code… but in a monotonous way. Our game web app combines our love for video games and our shared vision of giving all students opportunities to learn coding in a beginner-friendly, approachable, and fun way.
    </h7>
    <hr>
    <h1>About the Developers</h1>
    <h6><a href="https://www.linkedin.com/in/wenmichelle/">Michelle Wen</a></h6>
    <h7>Electrical and Computer Engineering @ The University of Texas at Austin</h7>
    <br>
    <br>
    <h6><a href="https://www.linkedin.com/in/jennifer-wen/">Jenny Wen</a></h6>
    <h7>Management Information Systems @ Tarleton State University</h7>
    <br>
    <hr>
</div>

{% endblock %}