{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}

<div id="about" class="container">

    <h1>About the Game</h1>
    <h7>
        The core value of the game is to provide individuals with an innovative, engaging, and beginner-friendly way to start programming through taking them on a journey involving an intriguing and unforgettable storyline. We developed this game to encourage high school students, specifically minorities who may have limited access to learning resources, to start learning code through showing them how fun and rewarding programming can be. Moreover, we hope to fill the diversity gap in computer science by ensuring all students have equal access to learning opportunities through using our application. 
    </h7>
    <h1>About the Developers</h1>
    <h5>
        <a href="https://www.linkedin.com/in/wenmichelle/">Michelle Wen</a>
        <br>
        <a href="https://www.linkedin.com/in/jennifer-wen/">Jenny Wen</a>
    </h5>
</div>

{% endblock %}