<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeVenture</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/base.css" />
    <script type="text/javascript" src="/static/app.js"></script>
    <link rel="icon" href="/static/img/logo_transparent.png" />
    <script src="https://kit.fontawesome.com/ab00bfc686.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface%7CRoboto:300,700" rel="stylesheet">
    <script defer src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
      <a class="navbar-brand" href="{{ url_for('landing_page') }}">
          <img id="logo" src="/static/img/codeventure.png" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('landing_page') }}">Python</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('comingsoon') }}">C++</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('comingsoon') }}">Java</a>
          </li>   
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('comingsoon') }}">HTML/CSS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('comingsoon') }}">Algorithms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
          </li>   
        </ul>
      </div>  
    </nav>
    <!-- <svg id="fader"></svg>
    <script>
        fadeInPage();
    </script> -->
    <!-- Content -->
    <div class="container-fluid all-content">
      {% block body %}{% endblock %}
      <!-- <footer id="footer" class="text-center text-lg-start">
        <div class="text-center p-3">
          Copyright @ 2021. All Rights Reserved.
        </div>
      </footer> -->
    </div>

</body>
</html>